<%- include('./partials/head') %>
<%- include('./partials/header_nav') %>

<body>
  
    <% games.forEach((games) => { %>
      <section class="container" >
        <p><%= games.game_name; %> can be played by <%= games.min_players; %> - <%= games.max_players; %> players</p>
        <p>
          <form action="/games/<%=games.game_id%>?__method=DELETE" method="post">
            <button type="submit"> Delete Game </button>
          </form>
          <a class= 'button is-square' href='/games/<%=games.game_id%>/' > more details</a>
          <a class= 'button is-square' href='/games/<%=games.game_id%>/edit' > edit game</a>
        </section>
      </p>
    <% }); %>
  
  <!-- <% categories.forEach((categories) => { %>
    <p><%= categories.category_name; %></p>
  <% }); %> -->
</body>
</html>